body {
}
#TaiKhoan{
	display: none;
}
#TaiKhoan ul{
	position: absolute;
	right: -5px;
	background: rgba(251,251,251,0.95);
	width: 200px;
	top:60px;
	padding: 0;
}
#TaiKhoan li{
	list-style: none;
	padding: 5px 10px;
	color: #394F7E;
}
#TaiKhoan li:hover{
	background: url(../hinh/header.png);
	background-position: right;
	color: #fff;
	padding-left: 20px;
	transition: 1s;
}
.btnlogin-a{
	position: absolute;
	right:0px;
	top:0px;
	border: none;
	background: rgba(255,255,255,0.00);
	font-size: 30px;
	width: 60px;
	height: 60px;
	color: #fff;
	cursor: pointer;
}
.titlehome{
    margin-top:20px;
    margin-left:20px; 
}
.cbtime{
    position:absolute;right:20px;
    font-size: 9pt;
    margin-right:20px;
    padding-bottom: 5px
}